.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.tic-tac-toe {
  width: 800px;
  height: 800px;
  border: 2px solid black;
  margin: 50px auto;
}
.ttt-grid {
  width: 266.66px;
  height: 266.66px;
  border: 1px solid black;
  float: left;
  box-sizing: border-box;
}