.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.tic-tac-toe {
  width: 800px;
  height: 800px;
  border: 2px solid black;
  margin: 50px auto;
}
.ttt-grid {
  width: 266.66px;
  height: 266.66px;
  border: 1px solid black;
  float: left;
  box-sizing: border-box;
}
.dagger {
  font-size: 217px;
  padding: 65px;
  align-items: center;
  display: flex;
}
.zero {
  font-size: 232px;
  padding: 50px;
  align-items: center;
  display: flex;
  color: red;
}
button.newGame {
  background: #4963bf;
  padding: 15px 50px;
  font-size: 30px;
  width: 261px;
  border: none;
  border-radius: 15px;
  color: #ffffff;
  margin: auto;
  display: block;
  margin-top: 20px;
}
.score {
  display: flex;
  width: 300px;
  margin: auto;
}
.score p{
  display: flex;
  font-size: 100px;
  padding-right: 20px;
  margin: 0;
}